@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f9d371;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #f47340;
  height: 100%;
  width: 500px;
  border-radius: 10px;
}

#addtask {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

#addtask input {
  padding: 12px;
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
}

#addtask button {
  margin-left: 5px;
  padding: 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button#push {
  color: #f47340;
  /* font-weight: bold; */
  font-size: 25px;
  padding: 5px 15px;
}

.tasks {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-top: 1px solid #fff;
  padding: 10px 35px;
  color: #fff;
}

i.remove {
  cursor: pointer;
  color: #fff;
}

i.remove:hover {
  color: yellow;
}

.task-text input {
  background-color: transparent;
  border: 0;
  font-size: 18px;
}

.task-text input:focus {
  outline: none;
}
